@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
    animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    backface-visibility: hidden;
    perspective: 1000px;
}

.delay-100 {
    animation-delay: 100ms;
}

.delay-200 {
    animation-delay: 200ms;
}

.delay-300 {
    animation-delay: 300ms;
}

.delay-400 {
    animation-delay: 400ms;
}

.delay-500 {
    animation-delay: 500ms;
}