<div class="min-h-screen bg-gradient-to-b from-gray-900 to-black text-gray-100 flex items-center justify-center">
    <div class="text-center space-y-8">
        <p
            class="fade-in-up text-4xl md:text-6xl font-bold bg-gradient-to-r from-white to-gray-400 text-transparent bg-clip-text">
            Alors comme ça on veut écouter de la musique ?
        </p>
        <a routerLink="/search"
            class="fade-in-up delay-500 inline-block bg-green-500 font-semibold mt-4 py-3 px-8 rounded-full hover:scale-105 transition-all">
            C'est par ici 🔎
        </a>
    </div>
</div>